<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roadType">
            <h2><span jhiTranslate="softplanApp.roadType.detail.title">Road Type</span> {{roadType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="softplanApp.roadType.name">Name</span></dt>
                <dd>
                    <span>{{roadType.name}}</span>
                </dd>
                <dt><span jhiTranslate="softplanApp.roadType.cost">Cost</span></dt>
                <dd>
                    <span>{{roadType.cost}}</span>
                </dd>
                <dt><span jhiTranslate="softplanApp.roadType.unit">Unit</span></dt>
                <dd>
                    <span>{{roadType.unit}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/road-type', roadType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
