<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-adjustment-factor-heading" jhiTranslate="softplanApp.adjustmentFactor.home.createOrEditLabel">Create or edit a Adjustment Factor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!adjustmentFactor.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="adjustmentFactor.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="softplanApp.adjustmentFactor.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="adjustmentFactor.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="softplanApp.adjustmentFactor.condition" for="field_condition">Condition</label>
                    <input type="text" class="form-control" name="condition" id="field_condition"
                        [(ngModel)]="adjustmentFactor.condition" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="softplanApp.adjustmentFactor.conditionOperator" for="field_conditionOperator">Condition Operator</label>
                    <input type="text" class="form-control" name="conditionOperator" id="field_conditionOperator"
                        [(ngModel)]="adjustmentFactor.conditionOperator" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="softplanApp.adjustmentFactor.cost" for="field_cost">Cost</label>
                    <input type="number" class="form-control" name="cost" id="field_cost"
                        [(ngModel)]="adjustmentFactor.cost" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
